.divClass h1{
    color: darkgoldenrod
}

#thidDiv {
    height: 600px;
    width: 500px;
    background-color: red;
}

.divClass #spanId{
    font-size: 18px;
    margin: 50px;
    padding: 50px;
    border: 5px crimson;
}

#thirdDiv ul li img{
    width: 400px;
}